/****** Шрифты ******/
@font-face {
    font-family: 'GuildensternNbp';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/GuildensternNbp.ttf');
}

@font-face {
    font-family: 'vcrosdmonorusbyd';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/vcrosdmonorusbyd.ttf');
}
@font-face {
    font-family: 'EpilepsySans';
    font-style: normal;
    font-weight: normal;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/EpilepsySans.ttf');
}

@font-face {
    font-family: 'EpilepsySansBold';
    src: url('/fonts/EpilepsySansBold.ttf');
}

:root {
    --primary-color: #000000;
    --secondary-color: #7577de;
    --third-color: #96debc;
    --text-color: #ffffff;
    --background-color: #f1f6f9;
    --darkest-color: #444346;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    background-color: var(--background-color);
    background-image: url('/webPictures/designElements/background-design-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 7px 0;
    box-sizing: border-box;
}

.header-container header {
    font-size: 72px;
    font-weight: bold;
    font-family: 'GuildensternNbp', sans-serif;
    color: var(--text-color);
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-buttons {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-button-style{
    background-color: var(--background-color);
    color: #444096;
    box-shadow: #625faa 2px 2px 2px 2px;
    border: none;
    padding: 8px;
    font-size: 35px;
    text-decoration: none;
    font-family: 'epilepsysans', 'Gill Sans', calibri;
    border-radius: 5px;
}

.header-button-style:hover {
    background-color: var(--third-color);
}

#menu-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#menu-buttons button {
    font-family: 'vcrosdmonorusbyd', 'Gill Sans', calibri;
    font-size: 24px;
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: #444096 2px 2px 2px 2px;
    cursor: pointer;
}
#menu-buttons button:hover {
    background-color: var(--third-color);
}

#dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    backdrop-filter: blur(2px); 
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
}

#dialog {
    position: relative;
    background-color: var(--secondary-color);
    padding: 2px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dialog-content{
    font-family: 'EpilepsySans', 'Gill Sans', calibri;
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
}

#close-dialog{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
}


footer {
    padding: 25px;
    background-color: var(--darkest-color);
    color: var(--text-color);
    font-family: 'EpilepsySans', sans-serif;
}
.footer-link{
    text-decoration: none;
    color: var(--text-color);
}

#canvas-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#canvas {
    display: block;
    background-color: white;
}

.text-info{
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    text-indent: 1.5em;
    font-family: 'EpilepsySans', 'Gill Sans', calibri;
    font-size: 24px;
    color: var(--darkest-text-color);*/
    display: inline-block;
    padding: 25px 20px;
    margin: auto;
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--darkest-color);
    text-align: center;
    font-family: 'EpilepsySans', 'Gill Sans', calibri;
    font-size: 28px;
    box-shadow: #444096 2px 2px 2px 2px;
    text-indent: 1.5em;
}

.special-word-green{
    color: #41d691;
    font-weight: bold;
}

.special-word-purple{
    color: #7577de;
    font-weight: bold;
}

