/****** Шрифты ******/
@font-face {
    font-family: 'GuildensternNbp';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/GuildensternNbp.ttf');
}

@font-face {
    font-family: 'vcrosdmonorusbyd';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/vcrosdmonorusbyd.ttf');
}

:root {
    --primary-color: #000000;
    --secondary-color: #517ebd;
    --third-color: violet;
    --text-color: #ffffff;
    --background-color: #f1f6f9;
    --darkest-color: #312f2f;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    background-color: var(--background-color);
    background-image: url('/pictures/Circuit-PNG-HD-Image-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%
}
header {
    background-color: var(--secondary-color);
    padding: 7px;
    color: var(--text-color);
    font-size: 72px;
    text-align: center;
    font-weight: bold;
    font-family: 'GuildensternNbp', sans-serif;
}

#menu {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-button{
    font-family: 'vcrosdmonorusbyd', 'Gill Sans', calibri;
    font-size: 24px;
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: #405b96 2px 2px 2px 2px;
    cursor: pointer;
}

footer {
    padding: 20px;
    background-color: var(--darkest-color);
    color: var(--text-color);
    font-family: 'GuildensternNbp', sans-serif;
}
.footer-link{
    text-decoration: none;
    color: var(--text-color);
}

#canvas {
    display: none;
}