/****** Шрифты ******/
@font-face {
    font-family: 'GuildensternNbp';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/GuildensternNbp.ttf');
}

@font-face {
    font-family: 'vcrosdmonorusbyd';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/vcrosdmonorusbyd.ttf');
}
@font-face {
    font-family: 'EpilepsySans';
    font-style: normal;
    font-weight: normal;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/EpilepsySans.ttf');
}

@font-face {
    font-family: 'EpilepsySansBold';
    src: url('/fonts/EpilepsySansBold.ttf');
}

:root {
    --primary-color: #000000;
    --secondary-color: #517ebd;
    --third-color: rgb(130, 195, 238);
    --text-color: #ffffff;
    --background-color: #f1f6f9;
    --darkest-color: #312f2f;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    background-color: var(--background-color);
    background-image: url('/pictures/Circuit-PNG-HD-Image-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%
}
header {
    background-color: var(--secondary-color);
    padding: 7px;
    color: var(--text-color);
    font-size: 72px;
    text-align: center;
    font-weight: bold;
    font-family: 'GuildensternNbp', sans-serif;
}

#menu-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;


}
#menu-buttons button {
    font-family: 'vcrosdmonorusbyd', 'Gill Sans', calibri;
    font-size: 24px;
    color: var(--text-color);
    background-color: var(--secondary-color);
    padding: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: #405b96 2px 2px 2px 2px;
    cursor: pointer;
}
#menu-buttons button:hover {
    background-color: var(--third-color);
}

#dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    backdrop-filter: blur(2px); 
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
}

#dialog {
    position: relative;
    background-color: var(--secondary-color);
    padding: 2px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dialog-content{
    font-family: 'EpilepsySans', 'Gill Sans', calibri;
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
}

#close-dialog{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
}


footer {
    padding: 20px;
    background-color: var(--darkest-color);
    color: var(--text-color);
    font-family: 'EpilepsySans', sans-serif;
}
.footer-link{
    text-decoration: none;
    color: var(--text-color);
}

#canvas-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#canvas {
    display: block;
    background-color: white;
}